body{
    width: 70%;
}
div{
    background-color: lightsteelblue;
    display: inline-block;
    border: solid 1px gainsboro;
    margin: auto;
}

.data {
    color: darkblue;
    font-weight: bold;
}